
h5{
    color: rgb(224, 11, 11);
}

h2{
    color: tomato;
    text-align: center;
}
h1{
    color: brown;
    text-align: center;
    font-size: 250%;
}

.home{
    font-size: 250px;
    color: yellow;
}
b{
    color: red;
    text-align: left;
    font-size: 30px;
}
body{
    background-color: rgb(215, 229, 224);
    padding: 5px 15px 20px;
}
h{
    color: rgb(227, 13, 13);
    font-style: unset;
    font-size: 30px;
    
}



/* .container{
    background-color: rgb(22, 210, 41);
    padding: ;
    border: 1px rgb(247, 9, 9);
    border-radius: 15px;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 30px;
    font-size: 20px;
    padding: 10px;
} */