
h5{
    color: rgb(224, 11, 11);
}

h2{
    color: tomato;
    text-align: center;
}
h1{
    color: brown;
    text-align: center;
    font-size: 250%;
}

.home{
    font-size: 250px;
    color: yellow;
}
b{
    color: red;
    text-align: left;
    font-size: 30px;
}
body{
    background-color: lightblue;
}